{% extends 'base.html' %}
<title>{% block title %}LXDash - Instances{% endblock %}</title>
{% block content %}
{% load instance_extras %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">UUID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
{% if latest_instance_list %}
    <tbody>
    {% for instance in latest_instance_list %}
        <tr>
            <th scope="row"><a href="/instances/{{ instance.config|get_value:'volatile.uuid' }}/">{{ instance.config|get_value:'volatile.uuid' }}</a></th>
            <td>{{ instance.name }}</td>
            <td>{{ instance.type }}</td>
            <td>{{ instance.status }}</td>
    {% endfor %}
    </tbody>
{% else %}
    <p>No instances are available.</p>
{% endif %}
</table>
{% endblock %}